name: Build Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        target: [x86_64-pc-windows-msvc, aarch64-pc-windows-msvc]
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install latest rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{ matrix.target }}
        default: true
        override: true

    - name: Build
      run: cargo build --verbose --release --target ${{ matrix.target }}
      
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: pc-remotemanager-windows-${{ matrix.target }}
        path: target/${{ matrix.target }}/release/client.exe
